<!DOCTYPE html>
<html>
<head>
{% load static %}
   <link href="static/electronics/assets/css/Thankyou1.css" rel="stylesheet" type="text/css">
   <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Girassol&display=swap" rel="stylesheet">
</head>
<body>
<div class="hero">
<div class="navbar">
      <nav>
         <ul>
           <li><a href="/"><button type="button" >Home</button></a></li>
           <li><a href="logout"><button type="button" >Log Out</button></a></li>
         </ul>
      </nav>
    <div class="text">
<h1>THANKS FOR YOUR FEEDBACK</h1>
<p>Your message have successfully submitted.Action will be taken soon.</p>
</div>
</div>
</div>
</body>
</html>